<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"href="/index">Index
        <!--                <fmt:message key="label.mainPage"/>-->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="${pageContext.request.contextPath}/login">Login
              <!--                            <fmt:message key="button.login"/>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="${pageContext.request.contextPath}/register">Register
              <!--                            <fmt:message key="button.registration"/>-->
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">language
              <!--                            <fmt:message key="label.language"/>-->
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href=<my:lang value="en"/>En
                <!--                                <fmt:message key="label.lang.en"/>-->
                </a></li>
              <li><a class="dropdown-item" href=<my:lang value="ua"/>Ua
                <!--                                <fmt:message key="label.lang.ua"/>-->
                </a></li>
            </ul>
          </li>
        </ul>
        <form class="nav-item" action="movie">
          <label for="limit">Records
            <!--                        <fmt:message key="number.records"/>-->
          </label>
          <input class="col-2" type="number" min="1" name="limit" id="limit"
                 value="${not empty requestScope.records ? requestScope.records : '5'}">
          <input type="hidden" name="offset" value="0">
          <button type="submit" class="btn btn-dark mt-2 mb-3">Submit
            <!--                        <fmt:message key="button.submit"/>-->
          </button>
        </form>
      </div>
    </div>

  </nav>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Cinema</title>
</head>
<body>

</body>
</html>